@import '../../../assets/colors.scss';
@import '../../../assets/variables.scss';
@import '../../../assets/transitions.scss';

@mixin sidebarOptions {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
    
}

.sidebar__backdrop {
  @include sidebarOptions;
  transition: opacity 0.5s ease;
  transform: translateX(100%);
  z-index: -1;
  width: 100vw;
  background-color: $dark-gray;
  opacity: 0;
  &.visible {
    opacity: 60%;
    z-index: 1;
    transform: translateX(0);
  }
}

.sidebar {
    @include sidebarOptions;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    z-index:2;
    background-color: $dark-gray;
    width: calc(100vw - $burger-width - 70px);
    &.visible {
        transform: translateX(0);
      }
}
