@import './base.scss';
@import './colors.scss';
@import './transitions.scss';
@import "./variables.scss";

#app {
  min-height: 100vh;
}

.relative {
  position: relative;
}

.move-out {
  transform: translateX(-100vw);
}

.animated {
    transition: $base-transition;
}

.overflow-hidden {
  overflow: hidden !important;
}

.capitalize {
  text-transform: capitalize;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: white;
  padding: 0 !important;
  margin-bottom: 15px !important;
}
