@import './base.scss';
@import './colors.scss';
@import './transitions.scss';

.relative {
  position: relative;
}

.move-out {
  transform: translateX(-100vw);
}

.animated {
    transition: $base-transition;
}

.overflow-hidden {
  overflow: hidden !important;
}
